.exitprPopup.actSec { display:block!important; width:100%; position:fixed; top:15px; left:50%; transform: translateX(-50%); z-index:99999; box-shadow:0 0 15px rgba(0,0,0,0.2); }

.grid-masonary { align-items:flex-start; }